<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- * * * * * * * app.component.html * * * * * * * * -->
<app-nav></app-nav>
<app-products></app-products>

<!--
<p>
  <input type="text" [(ngModel)]="imgParent" />
</p>
<button type="button" (click)="toggleImg()">Toggle Img</button>-->

<!--<p>{{showImg}}</p>-->
<!--enviamos el valor dinamicamente (property binding) del imgParent al componente app-img
  ($event) nos permite recibir informacion que envia el evento del componente hijo
-->
<!--si showImg es true mostramos cargamos el component app-img, la imagen de lo contrario la ocultamos-->
<!--<app-img *ngIf="showImg" (loaded)="onLoaded($event)" [img]="imgParent"></app-img>-->
